//BUTTONS//

.mainButton {
    a {
        background-color: $sea;
        padding: 15px;
        color: $bright;

        &:hover {
            background-color: $dark;
            color: $bright;
            text-decoration: none;
        }
    }
}

.eyeCatchButton{
    
    a {
        background-color: $orange;
        padding: 10px 30px;
        font-family: $header;
        color: $dark;
    }

    :hover {
        text-decoration: none;
        color: $bright;
        background-color: $sea;
    }
    
}

.socialMedia {
    text-align: center;
    
    img.btnIcon {
        margin: 5px;
        cursor: pointer;
        width: 50px;
        margin-bottom: 20px;
        
    }
}

