//BUTTONS//

.mainButton {
    a {
        background-color: $sea;
        padding: 10px;
        color: $bright;

        &:hover {
            background-color: $dark;
            color: $bright;
            text-decoration: none;
        }
    }
}

.eyeCatchButton{
    
    a {
        background-color: $orange;
        padding: 5px 20px 5px 20px;
        font-family: $header;
        color: $dark;
    }
    
}