div.formBox {
    margin-top: 5vw;
    color: $orange;
    padding: 30px 10px;
    border-top: solid $orange 4px;
    border-bottom: solid $orange 4px;
    margin: 20px auto;
    width: 60%;
    

    form {
        margin-left: auto;
        
    }
    
   input, select, textarea {
        border: solid $teal 4px;
    }

    .formButton {
        background-color: $orange;
        padding: 15px;
        color: $bright;
        border: none;
        float: right;

        &:hover {
            background-color: $teal;
            color: $dark;
            text-decoration: none;
            border: none;
        }

        &:active {
            background-color: $orange !important;
            color: $bright;
            text-decoration: none;
            border: none;
        }
    }

    label {
        

    }
}

.errorMessage {
    color: $bright;
    text-align: right;
    border-bottom: solid $orange 4px;
    
}

.formValidated {
    margin: 10px;
    text-align: center;
    font-size: 1.2em;
    color: $sky;
}

div.contact-info {
    text-align: center;
    ul {
        list-style-type: none;
        padding: 0px;
        color: $bright;

        li {
            background-color: rgba($color: $sea, $alpha: 0.4);
            margin: 10px 0px;
            
        }
    }
    
}


//MEDIA QUIRIES//

@media screen and (max-width: 767px) {
    div.formBox {
        width: 100%;
}

}