//GLOBALS//
#root {
    font-family: $text;
    color: $dark;
}

//CONTAINERS//

.container-bright {
    background-color: $orange;
}

.container-sky {
    background-color: $sea;

}


.infoBox {
margin-bottom: 40px;
margin-top: 20px;
padding: 10px;

    .mainHeader {
        color:$sea;
        text-align: center;    
    }

    div.mainButton {
        display: flex;
        margin-left: 25%;
        margin-top: 40px;
    }
}

    .infoBox-sea {
        color: $bright;

        .mainHeader {
            color: $orange;
        }
    }


//HEADERS//
.mainHeader {
    font-family: $header;
}



@media screen and (max-width: 767px) {

}