//GLOBALS//
#root {
    font-family: $text;
    color: $dark;
}

//CONTAINERS//

.container-orange {
    background-color: $orange;

    &.container-border {
        border-top: dashed 30px $orange;
    }

    .aboutImage {
    border: solid 10px $sea;
    }
}

.container-sea {
    background-color: $sea;

    &.container-border {
    border-top: dashed 30px $orange;
    }
    .aboutImage {
        border: solid 10px $orange;
    }
}

.container-teal {
    background-color: $teal;
    &.container-border {
        border-top: dashed 30px $sea;
    }

    .aboutImage {
        border: solid 10px $bright;
    }
}

.container-dark {
    background-color: $dark;
    &.container-border {
        border-top: dashed 30px $teal;
    }
}


.infoBox {
margin-bottom: 40px;
margin-top: 20px;
padding: 10px;

    .mainHeader {
        color:$sea;
        text-align: center;    
    }
    .subHeader {
        font-size: 1.2em;
        text-transform: uppercase;
        margin-top: 10px;
    }

    div.mainButton {
        display: flex;
        margin-left: 25%;
        margin-top: 40px;
    }
}

.infoBox-sea {
        color: $bright;

        .mainHeader {
            color: $orange;
        }
}

.infoBox-teal {
        color: $dark;

        .mainHeader {
            color: $bright;
        }

        .eyeCatchButton a {
            background-color: $bright;

            &:hover {
                color:$sea;
                background-color: $sky;
            }

            
        }
        

        .subHeader {
            margin: 20px 0px;
        }
        
}


//HEADERS//
.mainHeader {
    font-family: $header;
}


.subHeader {
    font-family: $text;
}


@media screen and (max-width: 767px) {

}