//JUMBOTRONS//

div.ourBikes {
    background-image: url("../../assets/images/slideImages/slide5.jpg");
    @include jumbo-bg-basics;
    @include jumbo-basics;

    .mainHeader {
        @include jumbo-header;
        margin-top: 5%;
        color: $bright;
        background-color: rgba($color: $dark, $alpha: 0.6); 
    }
}

div.aboutUsJumbo {
    background-image: url("../../assets/images/slideImages/slide8.jpg");
    @include jumbo-bg-basics;
    @include jumbo-basics;
    background-position: bottom;

    .mainHeader {
        @include jumbo-header;
        color: $sky;
        background-color: rgba($color: $sea, $alpha: 0.6);
    }
}

div.theToursJumbo {
    background-image: url("../../assets/images/slideImages/slide7.jpg");
    @include jumbo-bg-basics;
    @include jumbo-basics;

     .mainHeader {
        @include jumbo-header;
         color: $sky;
         background-color: rgba($color: $sea, $alpha: 0.6);
     }
}

.contactJumbo {
    background-image: url("../../assets/images/slideImages/slide11.jpg");
    @include jumbo-bg-basics;
    @include jumbo-basics;

    .mainHeader {
        @include jumbo-header;
        color: $sea;
        background-color: rgba($color: $sky, $alpha: 0.5);
    }
}

//MEDIA QUIERIES//
@media screen and (max-width: 760px) {
    div.aboutUsJumbo {
        height: 400px;
    }
}