//NAVIGATION BAR//




.navbar.navbar-expand-md.navbar-light {
    padding: 40px;
    background-color: $sea;

}


.navbar-brand{
    margin-left: 20px;
    padding: 5px;
}

 #nav-link {
    color: $orange;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 10px;
    margin-top: 20px;

    &.active{
        text-decoration: underline;
    }

    &:hover {
        color: $bright;
    }
}




//FOOTER//





//MEDIA QUIERIES//

@media screen and (min-width: 600px) {
    .navbar-nav {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
}

@media screen and (max-width: 599px) {

.navbar.navbar-expand-md.navbar-light.fixed-top {
    background-color: rgba(255, 255, 255, 0.9);

}

span.navbar-brand {
    display: none;
}

} 
