//NAVIGATION BAR//


nav.navbar-expand-md {
    padding: 50px;
    background-color: rgb(61, 61, 61);
}


.navbar-brand {
    margin-left: 20px;
    margin-right: 20px;
}



//FOOTER//





//MEDIA QUIERIES//

@media screen and (min-width: 600px) {
    .navbar-nav {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
}

@media screen and (max-width: 599px) {

.navbar.navbar-expand-md.navbar-light.fixed-top {
    background-color: rgba(255, 255, 255, 0.9);

}

span.navbar-brand {
    display: none;
}

} 