div.carousel-caption {
    border-radius: 5px;
    border: solid $sky 1px;
    background-color: rgba($color: $dark, $alpha: 0.9);
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    color:$orange;
    

    p {
        color: $sky;
    }
}

.sliderTextBox {
    padding: 20px;
}

.carousel img {    
    min-width: auto;
}

.c-caption-image img {
    max-width: 20vw;
}


//MEDIA QUIERIES//

@media screen and (min-width: 769px) {
  
}

@media screen and (max-width: 760px) {
    .c-caption-image {
        display: none;
    }

    .carousel-caption {
        
        .eyeCatchButton a {
            padding: 2px 10px;     
        }

        h1 {
            font-size: 1em;
            margin: 2px;
            padding: 2px;
        }

        p {
            font-size: 0.7em;
            margin: 2px;
            padding: 2px;
        }
    }

   


}


