//COLOR SCHEME//

$orange: rgba(236, 157, 47, 1);
$dark: rgba(59, 56, 51, 1);
$bright: rgba(255, 237, 212, 1);
$sea: rgba(39, 74, 75, 1);
$teal: rgba(88, 184, 186, 1);
$sky: rgba(201, 232, 233, 1);




//BORDERS//

$selector: solid 4px magenta;


//FONTS//

$header: 'Lobster',
cursive;
$text: 'Roboto',
sans-serif;